.row {
    display: flex;
    box-sizing: border-box;
}

div {
    padding: 5px 0;
}

div:hover {
    background: grey;
}

.title {
    display: flex;
    width: 50%;
    padding: 0 5px;
}

.title:hover {
    background: grey;
}

.price {
    width: 15%;
    padding: 0 5px;
}


.quantity {
    width: 10%;
    padding: 0 5px;
}

.total {
    width: 15%;
    font-weight: bolder;
    color: #008f39;
    padding: 0 5px;
}

.actions {
    width: 10%;
    text-align: center;
    box-sizing: border-box;
    padding: 0 5px;
}

.completed {
    text-decoration: none;
    color: #ccc;
}

.completed .total {
    color: #ccc;
}

.actions button {
    border:none;
    font-size: 12px;
    background: red;
    color: white;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

.actions button:hover {
    background: darkred;
}